.navbar-brand {
	margin 15px:
}

.jumbotron {
	text-align: center;
	min-width:100%;
    height:600px;
    background: url("../images/jumbotron-background.jpg") center;
    background-size: cover;
}

h1 {
	padding-top: 5rem;
}

.panel {
	margin: 0 auto;
	max-width: 75%;
}



#headshot {
	margin: 30px;
	display: block;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    float: left;

}

#messaging {
	padding-top: 20px;
	font-family: 'Roboto', sans-serif;
}

#well {
	
	color: goldenrod;
	text-align: center; 
}

#languages {
	text-align: center;
}

.icons {
	margin: 0 auto;	
	list-style: none;
	display: inline-block;
	padding: 25px;
}



#projects {
	margin: 0 auto;
	padding: 10rem;
	text-align: center;
}

.description {
	padding: 25px;
}


.col-md-6 {
	width: 49%;
	margin: 5px;
	padding-top: 50px;
	padding-bottom: 50px;
	border: 2px solid antiquewhite;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid antiquewhite;
    margin: 1em 0;
    padding: 0;
}


#contact {
	margin-top: 1rem;
	text-align: center;
	// border: 2px solid antiquewhite;
}

#contact-info {
	text-align: center;

}

.contacts {
	margin: 0 auto;	
	list-style: none;
	display: inline-block;
	padding: 25px;
}

#phone {
	color:#338d11;
}

#mobile {
	color: DarkCyan;
}
#email {
	color:#4078c0
}

#twitter {
	color: #0084b4;
}
#linkedin {
	color: #4875B4;
}
#github {
	color:#6cc644
}

			

footer p {
	text-align: center;
	padding-top: 10px;
	margin-bottom: 0;
	padding-bottom: 10px;
	background-color: #e7e7e7;
}
					