.navbar-brand {
	margin 15px:
}

.jumbotron {
	text-align: center;
	min-width:100%;
    height:600px;
    background: url("../images/jumbotron-background.jpg") center;
    background-size:cover;
}

h1 {
	padding-top: 5rem;
}

.panel {
	margin: 0 auto;
	max-width: 75%;

}

#headshot {
	margin: 0 auto;
	display: block;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    width: 200px;
    height: 200px;

}

#messaging {
	padding-top: 20px;
}

#languages {
	text-align: center;
}

.icons {
	margin: 0 auto;	
	list-style: none;
	display: inline-block;
	padding: 25px;
}



#projects {
	margin: 0 auto;
	padding-top: 4rem;
	text-align: center;
}


.col-md-6 {
	width: 49%;
	margin: 5px;
	border: 2px solid antiquewhite;
}


#contact {
	margin-top: 2rem;
	text-align: center;
	// border: 2px solid antiquewhite;
}

#contacts {
	text-align: center;
	font-size: large;
	list-style: none;
	display: inline;
}

footer p {
	text-align: center;
	padding-top: 10px;
	margin-bottom: 0;
	padding-bottom: 10px;
}
					