.navbar-brand {
	margin 15px:
}

.jumbotron {
	text-align: center;
	min-width:100%;
    height:600px;
    background: url("../images/jumbotron-background.jpg") center;
    background-size:cover;
}

.panel {
	margin: 0 auto;
	max-width: 75%;

}

#projects {
	padding-top: 4rem;
	text-align: center;
}


.col-md-6 {
	width: 49%;
	margin: 5px;
	border: 2px solid #DEB887;
}


#contact {
	margin-top: 2rem;
}
					